# Regras de interação com IA

- Não dê start no bot, a não ser que eu seja explicito pra voce fazer isso
- Não crie testes desencessários, a não ser que eu seja explicito pra fazer isso
- Escreva codigos concisos
